.carouselEdit{
    width: 100%;
    padding: 20px 20px 60px 20px;
}
.carStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454561;
    color: #fff;
    margin: 0px 15px;
    font-size: 4em;
}
.servicesSec{
    background-color: #111430;
}